@font-face {
    font-family: 'Notable';
    src: url(../fonts/Notable/Notable-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira-Regular';
    src: url('../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend-Regular';
    src: url('../fonts/Lexend_Peta/LexendPeta-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #FFD700;
}

.form-container {
    display: flex;
    position: relative;
    top: 10vh; 
    left: 0; 
    width: auto; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container h1 {
    font-family: 'Notable';
    font-size: clamp(20px, 6vw, 32px); 
    text-align: center;
    color: #FFD700;
    margin-bottom: 30px;
}

/* From https://www.sitepoint.com/button-micro-interactions/#jitterybuttonmicrointeraction */
.btn-primary {
    margin-top: 70px;
    position: relative;
    padding: 12px 80px;
    width: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    /* border-radius: 10px; */
    border: 2px solid #FFD700;
    background-color: #FFD700; 
    color: black; 
    cursor: pointer;
    outline: none;
    transition: 200ms;
}

.btn-primary i {
    position: absolute;
    color: transparent; 
    transition: 200ms;
}

.btn-primary:focus {
    color: transparent;
    outline: none;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 25px 25px;
    border-left: 2px solid #FFD700; 
    animation: spin 2s 500ms forwards;
    background-color: black;
}

@keyframes spin {
    0% {
        background-color: black; 
    }

    80% {
        border: 2px solid transparent;
        border-left: 2px solid green;
        background-color: black;
    }
    100% {
        transform: rotate(720deg);
        border: 2px solid green;
        background-color: black;
    }
}

button:focus i {
    animation: check 300ms 2300ms forwards;
}

@keyframes check {
    to {
        color: green;
        background-color: black;
    }
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 40vh; */
    margin-top: 40px;
    font-family: 'Notable';
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    width: 100%;
    height: 27px;
}

#id_name {
    width: 181px;
    margin: 2 auto;
}

input, button, select, textarea {
    font-family: 'Fira-Regular';
}

.form-group {
    margin-top: 15px;
}

.go-back {
    padding: 1%;
    position: absolute;
    z-index: 100;
    top: 15px;
    left: 15px;
    margin: 1%;
}

.requiredField, .label {
    margin-bottom: 2px;
    font-size: larger;
}

/* Animation for hidden element */
.form-field {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.hidden {
    opacity: 0;
    max-height: 0;
    margin: 0;
    padding: 0;
}

#id_custom_name, label[for="id_custom_name"] {
    display: none;
}

