@font-face {
    font-family: 'Notable';
    src: url(../fonts/Notable/Notable-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira-Regular';
    src: url('../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira-Bold';
    src: url('../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.details-view {
    display: flex;
    position: relative;
    top: 10vh; 
    left: 0; 
    width: auto; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details-view h1 {
    font-family: 'Notable';
    font-size: clamp(20px, 6vw, 32px); 
    text-align: center;
    color: #FFD700;
    margin-bottom: 30px;
}

.details-view p {
    font-family: 'Notable';
    font-size: clamp(20px, 6vw, 32px); 
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

table {
    color: black;
    font-family: 'Fira-Regular';
    width: 95vw;
    margin-top: 30px;
    background-color: #D9D9D9;
    border-radius: 3%;
    border-collapse: collapse;
}

td {
    text-align: center;
    height: 30px;
}

th {
    font-family: 'Fira-Bold';
    height: 30px;
    font-size: large;
    height: 40px;

}

th, td {
    border: 1px solid black;
    padding: 9px;
}

.details-icon {
    width: 22px; 
    height: auto;
    vertical-align: middle; 
}

.controls a, .controls img {
    margin: 3px;
}

.checkbox-column {
    display: none;
}

.selected-row {
    /* display: none; */
    background-color: #B1B1B1;
}

.confirm-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}