@font-face {
    font-family: 'Notable';
    src: url(../fonts/Notable/Notable-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira-Regular';
    src: url('../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-y: hidden;
}

form, input, button, select, textarea {
    font-family: 'Fira-Regular';
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input[type="date"].form-control {
    height: auto; 
    width: 53vw; 
    margin: 1 auto;
}


.form-control {
    margin-bottom: 1vh;
}