@font-face {
    font-family: 'Notable';
    src: url(../fonts/Notable/Notable-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira-Regular';
    src: url('../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #FFD700;
}

.title {
    font-family: 'Notable';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 0%;
    margin: 5vh;
}

input, button, select, textarea {
    font-family: 'Fira-Regular';
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    font-family: 'Notable';
    margin: auto;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="date"].form-control {
    height: auto; 
    width: 168px; 
    margin: 2 auto;
}


.form-control {
    margin-bottom: 2vh;
}

/* Button styling from https://getcssscan.com/css-buttons-examples By Module System Design. */
.btn-primary {
    margin-top: 3vh;
    width: 200px; 
    height: auto; 
    background-color: #FFD700; 
    color: black; 
    border: 2px solid #FFD700; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 17px; 
    font-family: 'Fira-Regular'; 
    font-size: 16px;
    font-weight: 600; 
    line-height: 48px; 
    letter-spacing: -.8px;
    transition: all .3s;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-primary:hover {
    background-color: #e6c300; 
    border-color: #e6c300;
}

.btn-primary:active {
    background-color: #e6c300; 
    border-color: #e6c300;
}


.invalid-feedback {
    display: none;
    /* width: 100%; 
    font-size: 80%;
    color: #dc3545; */
}

.error-msg {
    width: 100%; 
    color: #dc3545;
    display: block;
    align-items: center;
    padding: 5px;
    margin: 1%;
}

.error-field {
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 1%;
}

.errorlist li {
    display: block; 
}

#hint_id_password1 {
    display: none;
}

#hint_id_password2 {
    display: none;
}

@media screen and (max-height: 736px) {
    .error-field {
      margin-top: 3vh; 
    }
}

@media screen and (max-width: 272px) {
    .error-msg {
        font-size: 90%;
    }
}

