{% extends "gymapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Add Workout{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gymapp/css/add_workout.css' %}">
{% endblock extra_css %}

{% block content %}
<body>
    <div class="go-back">
        <a href="{% url 'tracker' %}">
            <img src="{% static 'gymapp/images/back.svg' %}" alt="Go Back" class="back-btn">
        </a>
    </div>
    
    <div class="form-container">
        <h1>Add A Workout Session</h1>
         <form method="post" action="{% url 'add_workout' %}">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>    
</body>
{% endblock %}
