{% extends 'gymapp/base.html' %}
{% load static %}
{% block title %}Session Details{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gymapp/css/detail_view.css' %}">
{% endblock extra_css %}

{% block content %}
<body>

        <div class="details-view">
            <h1>{{ session.date|date:"d-m-Y"  }} <br> {{ exercise.get_name_display }}</h1>
            <div class="controls">
                <a href="{% url 'add_exercise' session.id %}">
                    <img src="{% static 'gymapp/images/back.svg' %}" alt="Back" class="back-btn">
                </a>
                <a href="{% url 'set_info' session.id %}">
                    <img src="{% static 'gymapp/images/add.svg' %}" alt="Add" class="add-btn">
                </a>
                <a >
                    <img src="{% static 'gymapp/images/edit.svg' %}" alt="Edit" class="edit-btn">
                </a>
                <a href="{% url 'add_exercise' session.id %}">
                    <img src="{% static 'gymapp/images/delete.svg' %}" alt="Delete" class="del-btn">
                </a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Reps</th>
                        <th>Sets</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercise in exercises %}
                    <tr>
                        <td>{{ exercise.reps }}</td>
                        <td>{{ exercise.sets }}</td>
                        <td>{{ exercise.weight }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

</body>
{% endblock %}
