{% extends "gymapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Edit Set{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gymapp/css/edit_set.css' %}">
{% endblock extra_css %}

{% block content %}
<body>
    <div class="go-back">
        <a href="{% url 'detail_view' session_id=session_id exercise_id=set.exercise.id %}">
            <img src="{% static 'gymapp/images/back.svg' %}" alt="Back" class="back-btn">
        </a>
    </div>

    <div class="edit-set">
        <h1>{{ set.exercise.get_name_display }} - Set {{ set_num }}<br>EDIT</h1>
        <form method="post" action="{% url 'edit_set' session_id=session_id set_id=set.id %}">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</body>
{% endblock %}

