{% extends "gymapp/base.html" %}
{% load static %}

{% block title %}Exercises{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gymapp/css/exercises_done.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="go-back">
    <a href="{% url 'tracker' %}">
        <img src="{% static 'gymapp/images/back.svg' %}" alt="Go Back" class="back-btn">
    </a>
</div>

<div class="session-details">
    <h1>{{ session.workout_name }}<br>{{ session.date }}</h1>
    <div class="btn-container"> 
        <a href="{% url 'add_exercise' session.id %}">
            <img src="{% static 'gymapp/images/add_exercise.svg' %}" alt="Add Exercise" class="add-ex">
        </a>
    </div>

    {% if exercises %}
    <div class="exercise-list">
        <h2>click to view details</h2>
        {% for exercise in exercises %}
        <div class="row">
            <a href="{% url 'detail_view' session.id exercise.id %}">
                <div class="exercise-card">
                        <div class="exercise-name">
                            {% if exercise.name == "OT" %}
                                {{ exercise.custom_name }}
                            {% else %}
                                {{ exercise.get_name_display }}
                            {% endif %}
                        </div>
                </div>
            </a>
            <div class="delete-card">
                <a href="{% url 'delete_exercise' exercise.id %}" class="delete-url">
                    <img src="{% static 'gymapp/images/x.svg' %}" alt="Delete Exercise" class="del-ex">
                    <!-- from https://thenounproject.com/icon/delete-6771661/ -->
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No exercises logged for this session yet.</p>
    {% endif %}

</div>
{% endblock %}
