{% extends "gymapp/base.html" %}
{% load static %}

{% block title %}Session Details{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gymapp/css/exercises_done.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="go-back">
    <a href="{% url 'tracker' %}">
        <img src="{% static 'gymapp/images/back.svg' %}" alt="Go Back" class="back-btn">
    </a>
</div>

<div class="session-details">
    <h1>EXERCISES<br>{{ session.date|date:"d-m-Y" }}</h1>
    <div class="btn-container"> 
        <a href="{% url 'add_exercise' session.id %}">
            <img src="{% static 'gymapp/images/add_exercise.svg' %}" alt="Add Exercise" class="add-ex">
        </a>
    </div>

    {% if exercises %}
    <div class="exercise-list">
        {% for exercise in exercises %}
        <div class="exercise-card">
            <div class="exercise-name">{{ exercise.get_name_display }}</div>
            <div class="info">
                <a href="{% url 'detail_view' session.id exercise.id %}">
                    <img src="{% static 'gymapp/images/info.svg' %}" alt="View Details" class="info-icon">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No exercises logged for this session yet.</p>
    {% endif %}

</div>
{% endblock %}
