{% extends "gymapp/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gymapp/css/home.css' %}">
{% endblock extra_css %}

{% block content %}


    <div class="welcome">
        <!-- default is empty string for name as it looks cleaner as just "Welcome" 
            rather than "Welcome User". -->
        <h1>Welcome <br>{{ user.first_name|default:"" }}</h1> 
        {% if user.is_authenticated %}
        <!-- error prevention for qr code. -->
        {% if user.qr_code %} 
        <div class="qr-code">
            <img src="{{ user.qr_code.url }}" alt="ERROR: QR Code not available. ">
        </div>
        {% endif %}
        {% endif %}
    </div>


{% endblock %}


