{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <link href="{% static 'gymapp/css/register.css' %}" rel="stylesheet">
        <title>Register</title>
    </head>
    
    <body>
        <div class="title">
            <h1>Register</h1>
        </div>

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {% crispy form %}

            <div class="error-field">
                {% if form.non_field_errors %}
                <div class="error-msg">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                {% if form.username.errors %}
                <div class="error-msg">
                    {% for error in form.username.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            
                {% if form.password1.errors %}
                <div class="error-msg">
                    {% for error in form.password1.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            
                {% if form.password2.errors %}
                <div class="error-msg">
                    {% for error in form.password2.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            
            </div>

        </form>
    </body>
    
</html>

