{% extends "gymapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Details{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gymapp/css/session_detail.css' %}">
{% endblock extra_css %}

{% block content %}
<body>
    <div class="form-container">
        <h1>Add An Exercise</h1>
        <form method="post" action="{% url 'session_detail' session.id %}">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>    
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <!-- Using CDN due to download issues. -->
    <script src="{% static 'gymapp/js/custom_name.js' %}" type="text/javascript"></script>
    {% endblock %}
</body>
{% endblock %}

