{% extends "gymapp/base.html" %}
{% load static %}

{% block title %}Leaderboard{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gymapp/css/att_leaderboard.css' %}">
{% endblock extra_css %}

{% block content %}
<body>
    <div class="go-back">
        <a href="{% url 'leaderboard' %}">
            <img src="{% static 'gymapp/images/back.svg' %}" alt="Back" class="back-btn">
        </a>
    </div>

    <div class="leaderboard">
        <h1>Top Squats 2024</h1>
        <div class="leaderboard-container">
            <div class="leaderboard-row">
                <div id="user-rank-1" class="user-info">

                </div>
                <div id="user-score-1" class="user-score"></div>
            </div>
            <div class="leaderboard-row">
                <div id="user-rank-2" class="user-info"></div>
                <div id="user-score-2" class="user-score"></div>
            </div>
            <div class="leaderboard-row">
                <div id="user-rank-3" class="user-info"></div>
                <div id="user-score-3" class="user-score"></div>
            </div>
            
            <div class="leaderboard-row">
                <div id="user-rank-4" class="user-info"></div>
                <div id="user-score-4" class="user-score"></div>
            </div>
            <div class="leaderboard-row">
                <div id="user-rank-5" class="user-info"></div>
                <div id="user-score-5" class="user-score"></div>
            </div>
        </div>
        
    </div>
    {% block javascript %}
        <script src="{% static 'gymapp/js/mock_sq.js' %}" type="text/javascript"></script>
    {% endblock %}
</body>
{% endblock %}
